body {
	background: #f2f2f2;
	font-size: 16px;
}

.core-caption h2 {
	font-weight: 100;
	font-size: 26pt;
}

@media (max-width: 480px) {
	#logo img {
		content: url(../img/logo-mobile.png) center center no-repeat;
		height: 60px;
		margin-top: 20px;
	}
}

.core-navbar a div {
	font-weight: 500 ;
}

.core-heading-block h4 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	line-height: 1;
}


.core-heading-block > span {
	font-size: 18px !important;
}

#footer.dark, .dark #footer {
	background-color: #1e252f !important;
}

.core-counter {
	font-family: 'Open Sans', sans-serif;
}

.core-counter h5 {
	font-weight: 400;
}

.text-warning {
	color: #fc0 !important;
}

/*
 * Adding new style for member by Encodemo
*/

.mbrMenu ul li a {
	color: #444444;
	font-weight: bold;
}

.mbrMenu ul li a:hover {
	color: #6699ff;
	font-weight: bold;
}

/*.list-group-item {
	border-left: 0px !important;
	border-right: 0px !important;
}

.list-group-item:first-child {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}*/

.img-profile {
	background-color: #e5e5e5;
	border-radius: 50%;
	height: 240px;
	margin: 0px auto;
	overflow: hidden;
	width: 240px;
}

.gallery-image img {
	max-width: 150px;
}

#page-menu {
}

#page-menu-wrap {
	padding-top:8px;
	height: 60px;
	background-color: #f2f2f2;
}

#page-menu .menu-title,
#page-menu nav li a {
	text-shadow: none;
	color: #333 !important;
}
	
.flex, .flex div[class*='col-'] {  
	min-height: 150px;
}